<div class="top-bar py-3" [ngClass]="{'top-bar-onscroll': scrolled}">
  <div class="top-bar-inner container">
    <div class="row">
      <div class="col">
        <img src="../../../assets/img/logosaferchat.png" class="mx-auto" alt="image">
      </div>
    </div>
  </div>
</div>

<header class="d-flex">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center"
        [formGroup]="userFormControl" 
        (keyup.enter)="onJoin()">
        <div class="header-text px-5 pl-lg-0 text-center text-lg-left">
          <h1 class="display-4 mb-4 p-0">Secure chat on your computer or smartphone</h1>
          <p class="lead mb-5 p-0">
            Share the room and password with your friends and you'll be able to chat securely with no need to install anything
          </p>
          <div class="text-left">
              <span>1. Enter your nickname (lowercase)
                <i class="fas fa-check-circle fa-5 green" aria-hidden="true"
                  *ngIf="userFormControl.get('nickname').valid"></i>
                <i class="fa fa-times-circle fa-5 red" aria-hidden="true"
                  *ngIf="userFormControl.get('nickname').invalid && userFormControl.get('nickname').touched" ></i>
              </span> 
              <input class="form-control form-control-lg mr-sm-3 px-4" 
                formControlName="nickname"
                type="text" 
                name="nickname" 
                placeholder="Nickname" 
                maxlength="20"
                oninput="this.value = this.value.toLowerCase()"
              >
              <span>2. Enter your room (lowercase)
                <i class="fas fa-check-circle fa-5 green" aria-hidden="true"
                  *ngIf="userFormControl.get('room').valid"></i>
                <i class="fa fa-times-circle fa-5 red" aria-hidden="true"
                  *ngIf="userFormControl.get('room').invalid && userFormControl.get('room').touched" ></i>
              </span>
              <input class="form-control form-control-lg mr-sm-3 px-4" 
                formControlName="room"
                type="text" 
                name="room" 
                placeholder="Room"
                maxlength="20"
                oninput="this.value = this.value.toLowerCase()"
              >
              <span>3. Enter your room password
                <i class="fas fa-check-circle fa-5 green" aria-hidden="true"
                  *ngIf="userFormControl.get('secret').valid"></i>
                <i class="fa fa-times-circle fa-5 red" aria-hidden="true"
                  *ngIf="userFormControl.get('secret').invalid && userFormControl.get('secret').touched" ></i>
              </span>
              <input class="form-control form-control-lg mr-sm-3 px-4"
                formControlName="secret" 
                type="password" 
                name="password" 
                placeholder="Password" 
              >
          </div>
          <br>
          <button class="btn btn-primary btn-lg mt-sm-0" 
            name="submit" 
            type="submit"
            (click)="onJoin()" 
            [disabled]="userFormControl.invalid">Join!</button>
          <br>
          <p class="information">
            <span>
              <b>All the messages use end-to-end encryption, 
                which means that only people who can read the messages are the ones 
                communicating. No one else can see the conversation, 
                not even a people with access to the safer.chat servers.
              </b>
            </span>
          </p>
        </div>
      </div>
      <br>
      <br>
      <div class="col-lg-6 text-center text-lg-right phone-mockup">
        <img src="../../../assets/img/iphone_safer.png" class="mx-auto" alt="image">
      </div>
    </div>
  </div>
</header>

<footer>
  <div id="contact" class="container">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center align-items-center text-center text-lg-left">
        <div class="lg-12">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://github.com/wiringbits/safer.chat">
                Contribute on Github <i class="fab fa-github"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://forms.gle/M4h4C8T5tvqHLR9q9">Submit feedback</a>
            </li>
          </ul>
          <div class="copyright p-3">
            <b>Wiring Bits All rights reserved (saferchat@wiringbits.net)</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>