<div class="top-bar py-3" [ngClass]="{'top-bar-onscroll': scrolled}">
  <div class="top-bar-inner container">
    <div class="row">
      <div class="col">
        <a class="brand float-left" href="#"><b>Safer Chat</b></a>
      </div>
    </div>
  </div>
</div>

<header class="d-flex">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center"[formGroup]="userFormControl" (keyup.enter)="onJoin()">
        <div class="header-text px-5 pl-lg-0 text-center text-lg-left">
          <h1 class="display-4 mb-4 p-0">Safest place to chat</h1>
          <p class="lead mb-5 p-0">
            Choose a nickname, a channel name and a password for the channel. 
          </p>
          <div class="text-left">
              <span>1. Enter your nickname (lowercase)
                <i class="fas fa-check-circle fa-5 green" aria-hidden="true"
                  *ngIf="userFormControl.get('nickname').valid"></i>
                <i class="fa fa-times-circle fa-5 red" aria-hidden="true"
                  *ngIf="userFormControl.get('nickname').invalid && userFormControl.get('nickname').touched" ></i>
              </span> 
              <input class="form-control form-control-lg mr-sm-3 px-4" 
                formControlName="nickname"
                type="text" 
                name="nickname" 
                placeholder="Nickname" 
                maxlength="20"
                oninput="this.value = this.value.toLowerCase()"
              >
              <span>2. Enter your channel (lowercase)
                <i class="fas fa-check-circle fa-5 green" aria-hidden="true"
                  *ngIf="userFormControl.get('channel').valid"></i>
                <i class="fa fa-times-circle fa-5 red" aria-hidden="true"
                  *ngIf="userFormControl.get('channel').invalid && userFormControl.get('channel').touched" ></i>
              </span>
              <input class="form-control form-control-lg mr-sm-3 px-4" 
                formControlName="channel"
                type="text" 
                name="channel" 
                placeholder="Channel"
                maxlength="20"
                oninput="this.value = this.value.toLowerCase()"
              >
              <span>3. Enter your channel password
                <i class="fas fa-check-circle fa-5 green" aria-hidden="true"
                  *ngIf="userFormControl.get('secret').valid"></i>
                <i class="fa fa-times-circle fa-5 red" aria-hidden="true"
                  *ngIf="userFormControl.get('secret').invalid && userFormControl.get('secret').touched" ></i>
              </span>
              <input class="form-control form-control-lg mr-sm-3 px-4"
                formControlName="secret" 
                type="password" 
                name="password" 
                placeholder="Password" 
              >
          </div>
          <br>
          <button class="btn btn-primary btn-lg mt-sm-0" 
            name="submit" 
            type="submit"
            (click)="onJoin()" 
            [disabled]="userFormControl.invalid">Join!</button>
          <br>
          <p>
            <a  href="#"><b>All the messages here are end-to-end encrypted which
                means that only the participants in the channel can read them.</b></a>
          </p>
        </div>
      </div>
      <br>
      <br>
      <div class="col-lg-6 text-center text-lg-right phone-mockup">
        <img src="../../../assets/img/iphone_safer.png" class="mx-auto" alt="image">
      </div>
    </div>
  </div>
</header>

<footer>
  <div id="contact" class="container">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center align-items-center text-center text-lg-left">
        <div class="lg-12">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="#">Terms &amp; Conditions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:chat@wiringbits.net">Contact</a>
            </li>
          </ul>
          <div class="copyright p-3">
            <b>Wiring Bits All rights reserved</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>