body {
    color: #616876
}

a {
    color: #616876;
    -webkit-transition: color 0.3s;
    transition: color 0.3s
}

span {
    color: #616876;
    -webkit-transition: color 0.3s;
    transition: color 0.3s
}


a:hover {
    color: #1B80BF
}

.btn {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 30px;
    font-size: 1rem;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1)
}

.btn.btn-lg {
    padding: 0.85rem 2rem 0.85rem
}

.btn-primary {
    background-color: #BF2C47;
    border-color: #BF2C47
}

.btn-primary:hover {
    background-color: #BF2C47;
    border-color: #BF2C47;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not([disabled]):not(.disabled):active {
    background-color: #BF2C47;
    border-color: #BF2C47;
    box-shadow: 0 0 0 3px #ff809f
}

.section {
    padding: 80px 0 60px
}

@media screen and (min-width: 992px) {
    .section {
        padding: 80px 0
    }
}

@media screen and (min-width: 1200px) {
    .section {
        padding: 120px 0
    }
}

.section.section-gray {
    background-color: #f8fafc
}

@media screen and (min-width: 992px) {
    .section .section-header {
        margin-bottom: 2rem
    }
}

.section .section-header .display-4 {
    font-size: 2rem
}

.section .section-header .lead {
    max-width: 600px
}

.top-bar {
    width: 100%;
    position: fixed;
    z-index: 9999;
    -webkit-transition: background 0.3s;
    transition: background 0.3s
}

.top-bar.top-bar-onscroll {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}

.top-bar-inner {
    width: 100%
}

.top-bar-inner .btn {
    box-shadow: none
}

.brand {
    font-size: 1.8rem
}

.brand:hover {
    text-decoration: none
}

header {
    background-image: url(../../../assets/img/texture.png);
    padding: 100px 0 80px;
    position: relative;
}

@media screen and (min-width: 992px) {
    header {
        padding: 25px 0
    }
}

@media screen and (min-width: 1200px) {
    header {
        padding: 25px 0
    }
}

header:after {
    width: 100%;
    height: 40%;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: #1B80BF
}

@media screen and (min-width: 992px) {
    header:after {
        width: 50%;
        height: 100%;
        top: 0;
        left: auto;
        right: 0
    }
}

.information {
    margin-top: 1rem;
    margin-bottom: 14rem;
}

@media screen and (min-width: 992px) {
    .information {
        margin-bottom: 1rem;
        margin-bottom: 2rem;
    }
}

header .container {
    z-index: 2
}

@media screen and (min-width: 992px) {
    header .header-text {
        max-width: 450px
    }
}

header .header-text h1 {
    font-size: 2rem
}

@media screen and (min-width: 768px) {
    header .header-text h1 {
        font-size: 2rem
    }
}

header img {
    width: 240px
}

@media screen and (min-width: 992px) {
    header img {
        width: 442px
    }
}

.stats h3 {
    font-size: 2.5rem;
    color: #ff6600
}

footer {
    padding: 60px 0;
    background-color: #373b44
}

@media screen and (min-width: 992px) {
    footer {
        padding: 80px 0
    }
}

@media screen and (min-width: 1200px) {
    footer {
        padding: 20px 0
    }
}

footer a {
    color: #afb4be
}

footer a:hover {
    color: #edf0f1
}

footer form {
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px
}

footer form .form-control {
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 0
}

footer form .form-control:focus {
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #ff6600
}

@keyframes fade {
    from {
        opacity: 0.999
    }
    to {
        opacity: 1
    }
}

.no-scroll {
    touch-action: none;
    overflow-x: hidden
}

.fa-5 {
    font-size: 24px;
}

.fa-7 {
    font-size: 48px;
}

.margin-5 {
    margin-top: 5px;
}

.green {
    color: #00ff99;
}

.red {
    color: #ff2600;
}

a {
    font-weight: 800;
}

#username_invalid_text {
    font-size: 14px;
}

.copyright {
    color: #dadcdd
}
