<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>people</mat-icon>
  </button>
  <span>safer chat</span>

  <button mat-fab (click)="onClickUserInfo()">
      <mat-icon>power</mat-icon>
  </button>
</mat-toolbar>
<mat-card>
  <mat-card-subtitle *ngIf="room && user">Room: <b>{{room.name}}</b>&nbsp; | &nbsp; Nickname: <b>{{user.name}}</b></mat-card-subtitle>
</mat-card>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav  mode="side" opened="{{desktop}}">
      <mat-nav-list>
        <a mat-list-item>
          <img mat-list-avatar src="{{user.avatar}}">
          <span mat-line *ngIf="user">{{user.name}}</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item  *ngFor="let peer of  peers" >
          <img mat-list-avatar src="{{peer.avatar}}">
          <span mat-line>{{peer.name}}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <mat-list class="chat-list">

        <mat-list-item class="chat-list-item">
          <img mat-list-avatar src="../../../assets/avatar/saferchat.png">
          <h4 mat-line>
            <b>safer.chat</b>
          </h4>
          <p mat-line>
            <span class="white-space-normal"> If you like our app, remember to give us a start on
                <a target="_blank" href="https://github.com/wiringbits/safer.chat">github</a> as well as to
                submit your feedback 
                <a target="_blank" href="https://forms.gle/M4h4C8T5tvqHLR9q9">here</a> 
            </span>
          </p>
        </mat-list-item>

        <mat-list-item *ngFor="let message of messages"
        [ngClass]="[(message.type === event.MESSAGE_RECEIVED && message.from.id === user.id)? 'chat-list-item': '']">
          <img mat-list-avatar *ngIf="message.type === event.MESSAGE_RECEIVED" [src]="message.from.avatar">
          <h4 mat-line *ngIf="message.type === event.MESSAGE_RECEIVED">
            <b>{{message.from.name}}</b>
          </h4>
          <p mat-line *ngIf="message.type === event.MESSAGE_RECEIVED">
            <span class="white-space-normal"> {{message.content}} </span>
          </p>
          <p mat-line *ngIf="message.type === event.PEER_JOINED" class="chat-notification">
            <span> <b>{{message.from.name}}</b> joined the room. </span>
          </p>
          <p mat-line *ngIf="message.type === event.PEER_LEFT" class="chat-notification">
            <span> <b>{{message.from.name}}</b> left the room. </span>
          </p>
        </mat-list-item>
      </mat-list>

      <div class="chat-footer-container">
        <mat-icon>message</mat-icon>
        <mat-form-field class="chat-input">
          <input matInput 
                #inputMessage 
                maxlength="140" 
                placeholder="Type your message" 
                [(ngModel)]="messageContent" 
                (keyup.enter)="sendMessage(messageContent)">
          <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
        </mat-form-field>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
