<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item>
          <mat-icon mat-list-icon>person</mat-icon>
          <span mat-line>Users</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <div>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>
          <b>{{title}}</b>
          <small *ngIf="channelName!==''"> - Channel: {{channelName}}</small>
        </span>
      </mat-toolbar>
  
      <div class="app-content">
        <app-home></app-home>
      </div>
    </div>
</mat-sidenav-container>
  
